.input-ui{
    height: 65px;
    input[type=text],input[type=tel],input[type=number],input[type=email],input[type=textarea],
    input[type=textarea],select,textarea{
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        color: $black;
        width: 100%;
        line-height: 1.5;
        font-size: 13px;
    }
    .error-msg{
        font-size: 12px;
        color: #a50d0d;
        padding: 5px 0 ;
        display: none;      
    }
}
.btn-sec{
    margin-top: 1rem;
}

.form-sec{
    background-color: $white;
    padding:2rem ;
    border-radius: 10px;
    @media (max-width:767px) {
            margin-top: 3rem;
            padding: 1rem;
    }
    &.grey-bg{
        background-color: #fafafa;
        border-radius: 0;
    }
    h3{
        color: $black;
        margin-bottom: 1rem;
        font-size: 30px;
    }
}

.cross-info{
    div{
        padding: 2rem;
        color: $white;
        text-align: center;
        h3{
            font-size: 50px;
        }
        h6{
            font-size: 17px;
            font-weight: normal;
        }
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li{
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            width: 50%;
            // &:after{
            //     content: '';
            //     background: $white;
            //     width: 1px;
            //     height: 100px;
            //     display: inline-block;
            // }
            &:nth-child(2){
                border-right: unset;
            }
            &:nth-child(3){
                border-bottom: unset;
            }
            &:nth-child(4){
                border-bottom: unset;
            }
            &:nth-child(4){
                border-right: unset;
            }
        }
    }
}